<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>café amazon</title>
</head>

<body>
    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="img-box">
        </div>
        <div class="flex">
            <h1 class="item">café amazon สาขา 1 หน้ามหาวิทยาลัย</h1>
            <p>café amazon สาขา 1 หน้ามหาวิทยาลัย</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 7.30am-4.00pm. <br>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/คาปูชิโนเย็น (café amazon).png">
                <div class=" content">
                    <h7>คาปูชิโนเย็น</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/คาปูชิโน่ร้อน (café amazon).png">
                <div class="content">
                    <h7>คาปูชิโน่ร้อน</h7>
                    <h6>50</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/ชาเขียวนมเย็น (café amazon).png">
                <div class=" content">
                    <h7>ชาเขียวนมเย็น</h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/ชาเขียวน้ำผึ้งมะนาวเจลลี่ (café amazon).png">
                <div class=" content">
                    <h7>ชาเขียวน้ำผึ้งมะนาวเจลลี่</h7>
                    <h6>60</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/น้ำสตรอเบอร์รี่ปั่น (café amazon).png">
                <div class=" content">
                    <h7>น้ำสตรอเบอร์รี่ปั่น</h7>
                    <h6>70</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/มัทฉะลาเต้ (café amazon).png">
                <div class=" content">
                    <h7>มัทฉะลาเต้</h7>
                    <h6>60</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/แบล็คทีฮันนี่ (café amazon).png">
                <div class=" content">
                    <h7>แบล็คทีฮันนี่</h7>
                    <h6>70</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/โยเกิร์ตสมูทตี้มิกซ์เบอรรี่ (café amazon).png">
                <div class=" content">
                    <h7>โยเกิร์ตสมูทตี้มิกซ์เบอรรี่</h7>
                    <h6>70</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/café amazon/ไลท์คอฟฟี่ฮันนี่ (café amazon).png">
                <div class=" content">
                    <h7>ไลท์คอฟฟี่ฮันนี่</h7>
                    <h6>60</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>