<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>Lamp Cafe</title>
</head>

<body>
    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="img-box">
        </div>
        <div class="flex">
            <h1 class="item">Lamp Cafe สาขา 1 หน้ามหาวิทยาลัย</h1>
            <p>Lamp Cafe สาขา 1 หน้ามหาวิทยาลัย</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์  8.30am-8.00pm. <br>
            <p>เบอร์โทร : 052050227</p>    
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/ชาเขียวนม (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Milk green tea</h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/ชาไทย (Lamp Cafe).jpg">
                <div class="content">
                    <h7>Thai tea</h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Sunset Peach (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Sunset Peach</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Sunset (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Sunset</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Lamp Es Yen Coffee (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Lamp Es Yen Coffee</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Iced Honey Americano (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Iced Honey Americano</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Iced Cupucino   (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Iced Cupucino</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Iced Americano (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Iced Americano</h7>
                    <h6>60</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/Cafe/Lamp Cafe/Black Orange (Lamp Cafe).jpg">
                <div class=" content">
                    <h7>Black Orange</h7>
                    <h6>85</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>