<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>yaida</title>
</head>

<body>
    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="img-box">
        </div>
        <div class="flex">
            <h1 class="item">เครปยายดา สาขา 1 หน้ามหาวิทยาลัย</h1>
            <p>เครปยายดา สาขา 1 หน้ามหาวิทยาลัย</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 12.00am - 11.59pm <br>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida1.jpg">
                <div class=" content">
                    <h6>ขนมบังโทสโอวันติน</h6>
                    <h6>30</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida2.jpg">
                <div class="content">
                    <h6>เครปโตเกียว</h6>
                    <h6>35</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida3.jpg">
                <div class=" content">
                    <h6>เครปเย็นฟอยทอง</h6>
                    <h6>30</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida4.jpg">
                <div class=" content">
                    <h6>เครปเย็นโอลีโอ่</h6>
                    <h6>30</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida5.jpg">
                <div class=" content">
                    <h6>เครปหวานฉ่ำ</h6>
                    <h6>35</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida6.jpg">
                <div class=" content">
                    <h6>ขนมบังโทส Choco</h6>
                    <h6>30</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida7.jpg">
                <div class=" content">
                    <h6>ขนมบังโทสนูเทล่า</h6>
                    <h6>30</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida8.jpg">
                <div class=" content">
                    <h6>ขนมบังโทสกล้วย</h6>
                    <h6>30</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/desert/yaida/yaida9.jpg">
                <div class=" content">
                    <h6>ซิกเนเจอร์เครป</h6>
                    <h6>45</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>