@font-face {
    font-family: font;
    src: url(/css/font/narak.ttf);
}

*{
    font-family: font;
}
Body {  
    background-color: #ffffff;  
  }  
  button {   
         background-color: #ABE397;   
         width: 15%;  
          color: rgb(255, 255, 255);
  
          padding: 15px;   
          margin: 10px 0px;   
          border: none; 
          border-radius: 50px;  
          cursor: pointer;   
           }   
 
   input[type=text], input[type=password] {   
          width: 40%;   
          margin: 8px 0;  
          border-radius: 50px;
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(132, 132, 132);   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }     
       
   .container_login{   
          margin: auto;  
          width: 40%;   
          padding: 3%
      } 
    .link_login{
        margin-left: 350px;

    }