<!-- add-restaurant-form.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include necessary head elements -->
</head>
<body>
    <h2>Add Restaurant</h2>
    <form th:action="@{/user}" th:object="${users}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" id="id" name="id" th:field="*{id}" required>
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" id="Email" name="Email" th:field="*{Email}" required>
        </div>
        <div class="form-group">
            <label for="FIRST_NAME">FIRST_NAME:</label>
            <input type="text" id="FIRST_NAME" name="FIRST_NAME" th:field="*{FIRST_NAME}" required>
        </div>
        <div class="form-group">
            <label for="LAST_NAME">LAST_NAME:</label>
            <input type="text" id="LAST_NAME" name="LAST_NAME" th:field="*{LAST_NAME}" required>
        </div>
        <div class="form-group">
            <label for="login">login:</label>
            <input type="text" id="login" name="login" th:field="*{login}" required>
        </div>
        <div class="form-group">
            <label for="password">password:</label>
            <input type="text" id="password" name="password" th:field="*{password}" required>
       
    
        <button type="submit" class="btn btn-primary">Save Restaurant</button>
    </form>
</body>
</html>
