<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpage.css">
    <title>Admin Dashboard</title>
</head>
<body>

    <div class="container">
        <h1>Admin Dashboard</h1>

        <div class="User_List_line">
        <h2>User List</h2>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john.doe@gmail.com</td>
                    <td>john.doe</td>
                    <td>john123</td>
                    <td class="action">
                        <button class="btn">Edit</button>
                        <button class="btn">Remove</button>
                    </td>
                </tr>
                <!-- more users here -->
            </tbody>
        </table>
        </div>
        
        <br>

        <div class="Restaurant_List_line">
        <h2>Restaurant List</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sushi Restaurant</td>
                    <td>001</td>
                    <td>123 Sushi St</td>
                    <td>12:00 - 22:00</td>
                    <td>1234567890</td>
                    <td class="action">
                        <button class="btn">Edit</button>
                        <button class="btn">Remove</button>
                    </td>
                </tr>
                <!-- more restaurants here -->
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>