<!-- add-restaurant-form.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include necessary head elements -->
</head>
<body>
    <h2>Add Restaurant</h2>
    <form th:action="@{/review}" th:object="${reviews}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" id="id" name="id" th:field="*{id}" required>
        </div>
        <div class="form-group">
            <label for="uid">Uid:</label>
            <input type="text" id="uid" name="uid" th:field="*{uid}" required>
        </div>
        <div class="form-group">
            <label for="rid">Rid:</label>
            <input type="text" id="rid" name="rid" th:field="*{rid}" required>
        </div>
        <div class="form-group">
            <label for="reviewtext">Reviewtext:</label>
            <input type="text" id="reviewtext" name="reviewtext" th:field="*{reviewtext}" required>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="text" id="rating" name="rating" th:field="*{rating}" required>
        </div>
      
        <button type="submit" class="btn btn-primary">Save Restaurant</button>
    </form>
</body>
</html>
