<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>gindon</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/personal">profile</a>
                <a href="/login">login</a>
                <a href="/logout">logout</a>    
            </div>
        </div>
    </header>
    <section class="container">
        <img src="menuP/mainn/gindon.jpg" alt="" class="img-box">
        <div class="flex">
            <h1 class="item">GINDON กินด้งข้าวหน้าของย่าง แม่ฟ้าหลวง</h1>
            <p>GINDON กินด้งข้าวหน้าของย่าง แม่ฟ้าหลวง</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 11.30am.-9.30pm. <br>
            <p>ปิด - วันอังคาร <br>
            <p>เบอร์ : 0895265626</p>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="menuP/food/gindon/กิมจิ (Gindon).jpg">
                <div class=" content">
                    <h8>กิมจิ</h8>
                    <h6>19</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/gindon/ข้าวหน้ากุ้งย่างซอส (Gindon).jpg">
                <div class="content">
                    <h8>ข้าวหน้ากุ้งย่างซอส</h8>
                    <h6>89</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/food/gindon/ข้าวหน้าสันคอหมูย่าง จัมโบ้ + ไข่ออนเซ็น (Gindon).jpg">
                <div class=" content">
                    <h8>ข้าวหน้าสันคอหมูย่างไข่</h8>
                    <h6>239</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/food/gindon/ข้าวหน้าเนื้อใบพายพรีเมียมย่างซอส+ไข่ออน (Gindon).jpg">
                <div class=" content">
                    <h8>ข้าวหน้าเนื้อใบพายไข่ออน</h8>
                    <h6>149</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/gindon/ข้าวหน้าไก่ย่างไซส์L+ไข่ออนเซ็น (Gindon).jpg">
                <div class=" content">
                    <h8>ข้าวหน้าไก่ย่างไซส์L+ไข่ออนเซ็น</h8>
                    <h6>118</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/gindon/ข้าวโพดย่างซอส (Gindon).jpg">
                <div class=" content">
                    <h8>ข้าวโพดย่างซอส</h8>
                    <h6>39</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/gindon/ยำสาหร่าย (Gindon).jpg">
                <div class=" content">
                    <h8>ยำสาหร่าย</h8>
                    <h6>29</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/gindon/สลัดรวมน้ำสลัดงาซีอิ๊วญี่ปุ่น (Gindon).jpg">
                <div class=" content">
                    <h8>สลัดรวมน้ำสลัดงาซีอิ๊วญี่ปุ่น</h8>
                    <h6>59</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/gindon/สลัดสไปซี่ สันคอหมูย่าง (Gindon).jpg">
                <div class=" content">
                    <h8>สลัดสไปซี่ สันคอหมูย่าง</h8>
                    <h6>79</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>