<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>Imm jung - อิ่ม จัง</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/login">profile</a>
                <a href="/login">login</a>
                <a href="#">logout</a>    
            </div>
        </div>
    </header>

    <section class="container">
        <img src="menuP/mainn/immmm.jpg" alt="" class="img-box">
        <div class="flex">
            <h1 class="item">Imm Jung อิ่มจังเส้นสด</h1>
            <p>Imm Jung อิ่มจังเส้นสด</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - เสาร์ 11.00am.-8.00pm.<br>
            <p>เบอร์ : 0916989866 </p>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="menuP/food/immjung/imcold.png">
                <div class=" content">
                    <h7>เส้นสดเย็น</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/Fresh Noodle Tom Yum(imm jung).jpg">
                <div class="content">
                    <h7>เส้นสดต้มยำ</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/green.png">
                <div class=" content">
                    <h8>เส้นสดแกงเขียวหวาน</h8>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/kao.png">
                <div class=" content">
                    <h8>เส้นสดข้าวซอย</h8>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/or.png">
                <div class=" content">
                    <h7>เส้นสดต้นตำหรับ</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/kaimal.png">
                <div class=" content">
                    <h7>ไก่ทอดหม่าล่าน้ำจิ้มแจ่ว</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/porkmala.png">
                <div class=" content">
                    <h7>ข้าวหมูทอดหม่าล่าจิ้มแจ่ว</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP//food/immjung/pork.png">
                <div class=" content">
                    <h7>ข้าวหน้าหมูซอสเผ็ด</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="https://media.lul.la/wp-content/uploads/2022/10/15180323/EAS05942.webp">
                <div class=" content">
                    <h7>ข้าวหน้าไก่น้ำจิ้มแจ่ว</h7>
                    <h6>75</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>