<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/restaurant.css">
    <title>Menu page</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/personal">profile</a>
                <a href="/login">login</a>
                <a href="/logout">logout</a>    
            </div>
        </div>
    </header>

    <div class="mix">
        <section class="container">


            <div class="gallery">
                <div class="gallery-image">
                    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/384812829_804413344814895_3235180994065769274_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFT0HftX8-l3Tb-RxgMs9Ngo9BITuxs9LSj0EhO7Gz0tKEsFOH47p-PpDO8HTHTqNrURisseP_TVDlK_QNHYDUP&_nc_ohc=eowhnZh3kZYAX_vxUSK&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfAFRZ0xzBGeVQSzKNCLlI0tLlvZm3rRLBwtLL420_kvyQ&oe=65639A72"
                        alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/402605603_827116279211268_3581697906007937510_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFY8-qhMdPbAA5EOdTeU8EqpaCcAywGE-iloJwDLAYT6PGXUpXqdoIV0j09TmAM5O8gBCBThpdnJdTD2bnOUJRR&_nc_ohc=HTaaAqBK9XYAX9LVuOk&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfBzhKmBx1FF8ItbChVamZ_bt6U0x9ego488fBkl6Efn0w&oe=65649EE9"
                        alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/399892946_823966696192893_4502477895041975390_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG1VOvD_7Rfmk5nCikOrrvjoCW1T1vuY7OgJbVPW-5js6RkV6i5fUYzUO6mEG1Ra5z2svoFMmucnpqJhw4zdDL1&_nc_ohc=va4rGYZucoMAX_38OEy&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfCgb7scL8J-vJbhTgg90Nc55y52FXxsrRtif6JMYpdpwg&oe=656431A7"
                        alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/402611315_827116222544607_1181209226477928174_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF8IXTkg1Kb1dcWiNlUhG8mrS_3rH4rBPmtL_esfisE-Xc_vV29WwklYL-r4OyrYPg_UfYBPMxKjZyra1W62eS0&_nc_ohc=qkDkfE14Hg0AX8erPpL&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfAgWq7GQWoLwhejMDLJ-KOkpi_-t-diRFYW-uu2Vo1vyw&oe=65649C5C"
                        alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/398049407_819361969986699_6713669024555331074_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHnouZScZ83ht7z9E5HZI3S2hwnxqLtU1raHCfGou1TWr4rkQi9OWpr25n84PQJ5BblTNg9xpnxoTCEyYncUH92&_nc_ohc=80JjZARkUOwAX-RFYGd&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfCPtsGbuGGkVZ_a0p_qEYxBO0PkS6-vV-s2VfNtsqwnjQ&oe=6564C9C1"
                        alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="https://scontent.fcnx2-1.fna.fbcdn.net/v/t39.30808-6/386752234_806687224587507_3418652565621573302_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGRAd70o_nckO9ZjhZQTAQxbcIrS1kICWFtwitLWQgJYYxlbwePH68GwWHaUAP34JCdoU0ev-ZP2_dOcBf8JJiH&_nc_ohc=W4B9sMFf3tsAX_UnOsm&_nc_oc=AQkWyTa5tBj61ym7q3TkB5xwBBdiltfUYzD2rOyrtTlXKIRpjcI-nVOJ3JHhuGe2R_Jy-kpkbtn2EIMYw6Jca4-H&_nc_ht=scontent.fcnx2-1.fna&oh=00_AfD3TeOXraJfUmNnx-r0zfTsA5KakSUfBPLsum_IebMLSQ&oe=6563C6F6"
                        alt="" class="image">
                </div>
            </div>
        </section>
        <div class="flexbox">
            <div class="container1">
                <div class="item1">
                    <div class="flex3">
                        <div class="between">
                            <h1>Imm Jung อิ่มจังเส้นสด</h1>
                            <input type="checkbox" id="heart">
                            <label for="heart">
                        </div>
                    </div>
                    <p class="detail">Imm Jung อิ่มจังเส้นสด ของคาว/ราเมง/เส้นสด</p>
                    <br>
                    <p> Imm Jung อิ่มจังเส้นสด ร้านเราทำเส้นขึ้นมาเองโดยการนวดแป้งทำเส้นราเมงเลยเป็นเอกลักษณ์ของร้านเรา
                        และร้านImm Jung อิ่มจังเส้นสด เป็นร้านอาหารที่ผสมผสานรสชาติไทย และ ญี่ปุ่น
                        เข้าถึงง่ายได้ทุกเพศทุกวัย</p>
                </div>
            </div>

            <div class="container2">
                <div class="item2">
                    <h2>เวลาเปิดร้าน</h2>
                    <p class="detail">จันทร์ - เสาร์ 11:00 - 20:00 <br>
                        อาทิตย์ ปิด
                    </p>
                    <br>
                    <p><i class="fa-solid fa-square-check" style="color: #ff9967;"></i> มีที่จอดรถ

                        <br>

                        <i class="fa-solid fa-square-check" style="color: #ff9967;"></i> wifi

                        <br>

                        <i class="fa-solid fa-square-check" style="color: #ff9967;"></i> เดริเวอรี่

                        <br>
                        <i class="fa-solid fa-square-check" style="color: #ff9967;"></i> เหมาะสำหรับทุกเพศทุกวัย

                    </p>
                    <br>

                    <p>-ช่วงราคา</p>
                    <p class="detail">50฿-100฿</p>
                </div>
            </div>
            <div class="container3">
                <div class="item3">
                    <a
                        href="https://www.google.com/maps/place/Imm+Jung+%E0%B8%AD%E0%B8%B4%E0%B9%88%E0%B8%A1%E0%B8%88%E0%B8%B1%E0%B8%87%E0%B9%80%E0%B8%AA%E0%B9%89%E0%B8%99%E0%B8%AA%E0%B8%94/@20.049744,99.8763332,20.59z/data=!4m6!3m5!1s0x30d701c77e8ef6c5:0xe3ba3bd4bd7dfd7d!8m2!3d20.0497683!4d99.8765144!16s%2Fg%2F11fnx1qf17?entry=tts">
                        <div class="box3">
                        </div>
                    </a>

                    <div class="flex3">
                        <div class="between">
                            <p class="namemenu">93หมู่ 1 ตำบลท่าสุด อำเภอเมืองเชียงราย จังหวัดเชียงราย 57100
                            <p>
                                <i class='bx bx-map bx-sm'></i>
                            </p>
                        </div>
                        <br>
                        <div class="between">
                            <p class="namemenu">เบอร์โทร : 0916989866
                            <p>
                                <i class='bx bx-phone-call bx-sm'></i>
                            </p>
                        </div>
                        <br>

                        <div class="between">
                            <a th:href="@{/immjungmenu}">
                                <p class="namemenu">ดูเมนูและราคา</p>
                                <p>
                                    <i class='bx bx-bowl-hot bx-sm'></i>
                            </a>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="container5">

                <img class="item5"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgb_dE71zDD_FkgDgToJ3DGefyTAKFw-__IGsSkXfyI0adv1vWINzcIHWGuBVBnCINWcY&usqp=CAU"
                    alt="">

            </div>
            <div class="container4">
                <div class="item4">
                    <div class="between">
                        <h2>เมนูแนะนำ</h2>
                        <a th:href="@{/immjungmenu}">
                            <p class="viewall">ดูทั้งหมด</p>
                        </a>
                    </div>
                    <div class="gridmenu">
                        <div class="boxmenu">
                            <img class="img4" src="menuP/food/immjung/porkmala.png" alt="">
                        </div>

                        <div class="boxmenu">
                            <img class="img4" src="menuP/food/immjung/kao.png" alt="">
                        </div>
                        <div class="boxmenu">
                            <img class="img4" src="menuP/food/immjung/or.png" alt="">
                        </div>
                        <div class="boxmenu">
                            <img class="img4"
                                src="menuP/food/immjung/Fresh Noodle Tom Yum(imm jung).jpg"
                                alt="">
                        </div>

                        <br>
                        <p class="namemenu">ข้าวหมูทอดหม่าล่าจิ้มแจ่ว</p>
                        <p class="namemenu">เส้นสดข้าวซอย</p>
                        <p class="namemenu">เส้นสดต้นตำหรับ</p>
                        <p class="namemenu">เส้นสดต้มยำ</p>
                    </div>
                </div>
            </div>
            <div class="container6">
                <div class="item6">
                    <h3>รีวิวโดยลูกค้า</h3>
                    <hr>
                    <br>
                    <div class="box-review">
                        <div class="profile-logo">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                                alt="User Profile Picture">
                        </div>
                        <div class="Column">
                            <p>สิริศักดิ์ วงษ์สวัสดิ์</p>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            </div>
                        </div>
                    </div>
                    <p><span class="reviewtag">รีวิว:</span>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Ex
                        quam esse iusto? Labore deleniti quaerat maxime sapiente ad? Accusantium quis ipsum ullam
                        odio
                        officia. Officia omnis maiores rem esse iusto.</p>
                    <br>
                    <hr>
                    <br>
                    <div class="box-review">
                        <div class="profile-logo">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                                alt="User Profile Picture">
                        </div>
                        <div class="Column">
                            <p>สิริศักดิ์ วงษ์สวัสดิ์</p>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            </div>
                        </div>
                    </div>
                    <p><span class="reviewtag">รีวิว:</span>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Ex
                        quam esse iusto? Labore deleniti quaerat maxime sapiente ad? Accusantium quis ipsum ullam
                        odio
                        officia. Officia omnis maiores rem esse iusto.</p>
                    <br>
                    <hr>
                    <br>
                    <div class="box-review">
                        <div class="profile-logo">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                                alt="User Profile Picture">
                        </div>
                        <div class="Column">
                            <p>สิริศักดิ์ วงษ์สวัสดิ์</p>
                            <div class="rating">
                                <i class="fa-regular fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>

                            </div>
                        </div>
                    </div>
                    <p><span class="reviewtag">รีวิว:</span>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Ex
                        quam esse iusto? Labore deleniti quaerat maxime sapiente ad? Accusantium quis ipsum ullam
                        odio
                        officia. Officia omnis maiores rem esse iusto.</p>
                    <br>
                </div>
            </div>
            <div class="container7">
                <div class="item7">
                    <h3>คะแนนรีวิว</h3>

                    <p>4/5</p>
                    <div class="column">
                        <div class="rating">
                            <i class="fa-regular fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                        </div>
                    </div>

                    <div class="profile-logo">
                        <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                            alt="User Profile Picture">
                    </div>
                    <div class="row">
                        <h4>ภูเบศร กลับไชย </h4>
                        <span class="reviewtag">ให้คะแนน</span>
                    </div>
                    <div class="comment-box">
                        <h3>Leave a Comment</h3>
                        <textarea id="comment-text" rows="4" cols="40"></textarea>
                        <br><br>
                        <div class="column">
                            <div class="rating-box" onclick="rateComment()" style="display: flex;">

                                <span class="rating" data-value="1">&#9733;</span>
                                <span class="rating" data-value="2">&#9733;</span>
                                <span class="rating" data-value="3">&#9733;</span>
                                <span class="rating" data-value="4">&#9733;</span>
                                <span class="rating" data-value="5">&#9733;</span>
                            </div>
                        </div>
                        <button onclick="addComment()">Submit Comment</button>
                    </div>
                    <div class="comment-list">
                        <h3>Comments</h3>
                        <ul id="comment-list"></ul>
                    </div>



                </div>
            </div>

        </div>
    </div>

    <script>
        function addComment() {
            var commentText = document.getElementById('comment-text').value;
            var rating = document.querySelector('.rating-box .selected');

            // Create a new list item for the comment
            var li = document.createElement('li');
            li.innerHTML = commentText + ' ';

            // Add stars based on the rating
            if (rating) {
                var ratingValue = parseInt(rating.dataset.value);
                var stars = '';
                for (var i = 0; i < ratingValue; i++) {
                    stars += '&#9733;'; // Unicode character for a star
                }
                li.innerHTML += '<span class="rating-box">' + stars + '</span>';
            }

            // Append the list item to the comment list
            document.getElementById('comment-list').appendChild(li);

            // Reset the comment text and rating
            document.getElementById('comment-text').value = '';
            resetRating();
        }

        function rateComment() {
            var ratings = document.querySelectorAll('.rating-box span');
            ratings.forEach(function (rating) {
                rating.addEventListener('click', function () {
                    ratings.forEach(function (innerRating) {
                        innerRating.classList.remove('selected');
                    });
                    rating.classList.add('selected');
                });
            });
        }

        function resetRating() {
            var ratings = document.querySelectorAll('.rating-box span');
            ratings.forEach(function (rating) {
                rating.classList.remove('selected');
            });
        }

    </script>



</body>

</html>