<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Kinraidee mfu</title>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/login">profile</a>
                <a href="/login">login</a>
                <a href="#">logout</a>    
            </div>
        </div>
    </header>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://media.contra.com/image/upload/y7uebeib1p7ur65vx9s0" alt="">
            </div>
            <div class="swiper-slide"><img
                    src="https://www.shutterstock.com/image-vector/horizontal-poster-fast-food-menu-260nw-1071009794.jpg"
                    alt=""></div>
            <div class="swiper-slide"><img
                    src="https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""></div>
            <div class="swiper-slide"><img
                    src="https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""></div>
            <div class="swiper-slide"><img
                    src="https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="grid_layout">

        <h1 class="menutag">เมนู</h1>

        <div class="container-box-food">
            <a th:href="@{/menufood}">
                <div class="content-box">ร้านอาหาร</div>
            </a>
        </div>

        <div class="container-box-desert">
            <a th:href="@{/menudessert}">
                <div class="content-box">ของหวาน</div>
            </a>
        </div>
        <div class="container-box-drink">
            <a th:href="@{/menudrink}">
                <div class="content-box">เครื่องดื่ม</div>
            </a>
        </div>
        <h1 class="rating_tag">เมนูเรตติ้ง</h1>
        <a th:href="@{/lampcafe}">
            <div class="center">

                <div class="rating-box1">
                    <h5 class="name">LampCafe</h5>
                </div>
            </div>
        </a>
        <a th:href="@{/sgpark}"> 
            <div class="center">
                <div class="rating-box2">
                    <h5 class="name">Singhapark Cafe</h5>
                </div>
            </div>
        </a>
        </a>
        <a th:href="@{/pagmor}">
            <div class="center">
                <div class="rating-box3">
                    <h5 class="name">ปากหม้อ หน้ามอ</h5>
                </div>
            </div>
        </a>
        <a th:href="@{/milkbox}">
            <div class="center">
                <div class="rating-box4">
                    <h5 class="name">MilkBox</h5>
                </div>
            </div>
        </a>
        <a th:href="@{/noodlesun}">
            <div class="center">
                <div class="rating-box5">
                    <h5 class="name">ก๋วยเตี๋ยวเรือพระอาทิตย์</h5>
                </div>
            </div>
        </a>
        <a th:href="@{/gindon}">
            <div class="center">
                <div class="rating-box6">

                    <h5 class="name">Gindon</h5>

                </div>
            </div>
        </a>





        <!--<div class="footer">

        </div>
    </div>
    <div class="footer">
        <div class="logo2"><img class="Picture_02" src="/src/main/frontend/img/เพิ่มหัวเรื่อง.png"></div>

        <div class="About_me">
            <h3>เกี่ยวกับเรา</h3>
            <p>Mae Fah Luang University Sports Center <br />
                333 Village No. 1, Thasud Subdistrict, Mueang District <br />
                Chiang Rai 57100 <br />
                Phone: 0 5391 7821 <br />
                Email: kinreadee@mfu.ac.th <br />
            </p>
        </div>
        <div class="Hel_p">
            <h3>ช่วยเหลือ</h3>
            <a href="#">ติดต่อ Admin</a>
        </div>
        <h3 class="Follo_w">ติดตาม กินไรดีมฟล</h3>
    </div>-->
    </div>
    <footer class="footer">
        <div class="container row">
            <div class="footer-col">

                <div class="box-footer"></div>
            </div>
            <div class="footer-col">
                <h4>เกี่ยวกับเรา</h4>
                <ul>
                    <li><a href="#">มหาวิทยาลัยแม่ฟ้าหลวง</a></li>
                    <li><a href="#">หมู่ที่ 1 ตำบลท่าสุด อำเภอเมืองเชียงราย 57100</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">kinreadee@gmail.com</a></li>
                    <li><a href="#">089-784-9276</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>

                </div>
            </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            pagination: {
                el: ".swiper-pagination",
                type: "fraction",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>