<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/main/resources/static/css/menudrink.css">
    <title>Menu page</title>
</head>

<body>

    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <!-- left_container_-->
    <div class="grid_layout">
        <h1 class="type_res">ของหวาน ยอดนิยม ใน มฟล.</h1>
        <div class="contain">
            <label class="container">ร้านอาหาร
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label class="container">ร้านดื่ม
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label class="container">ร้านของหวาน
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>

            <br>
            <hr>

            <h5>เรตติ้ง</h5>
            <label class="container">5.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">4.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">3.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">2.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">1.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>

            <br>



        </div>
        <div class="Border_box1">
            <a href="restaurant.html">
                <div class="Grid_ImgShop">
                    <img src="https://img.wongnai.com/p/1920x0/2021/10/05/529dc661aa864bcd998fc6191042837a.jpg" alt="">
                    <img src="https://img.wongnai.com/p/400x0/2022/05/10/abc607b2a9db484487c8280db43b7b30.jpg" alt="">
                    <img src="https://scontent.fbkk5-3.fna.fbcdn.net/v/t39.30808-6/366573153_789015493229227_2033408664421245915_n.jpg?stp=dst-jpg_p843x403&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHbCzrCSs3VQr5M_4FTk-SYCWrii7r4IWYJauKLuvghZvibLWsqO9s9ZQJaYkArKZ2drYzd3Ch10K6PBNbVyGWH&_nc_ohc=10t9OqQ5m6gAX9tkEbk&_nc_oc=AQmNth53oR0Vmc8kHtA5KQyd2LWBSoJ80U4fZU6Fhqf-nfmFBsZNKNoRL51FY36C3pM&_nc_ht=scontent.fbkk5-3.fna&oh=00_AfDN5gJUVCjImKvS5XTOWtpkOkv12RyPkXpJ8anm2uxXQQ&oe=655E8C83"
                        alt="">
                    <img src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t39.30808-6/363360056_779333570864086_2887018945797323390_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG9_7Qtq_iR5mtHQx63Q2AYLW__lJRlmfstb_-UlGWZ-x-uJ7ojJoO9xKWv9Rt2bCRPMJkO9AfgbDahxUdCKTyn&_nc_ohc=6kjnSu07tMkAX8fzVgy&_nc_ht=scontent.fbkk5-7.fna&oh=00_AfAMVO-bbr-lC31tqfvVYqreL_lTEcvxiPhrjBytoTBJ3A&oe=655EDEB8"
                        alt="">
                    <img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t39.30808-6/211280010_2049578038524352_7016153897702989088_n.jpg?stp=dst-jpg_p843x403&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFFw736r25u7SZlBZT2e4FokTfrSZXGvDSRN-tJlca8NMT4WoszoztPodSXClPawYPxaBqekvlBXiVDeuA93_TI&_nc_ohc=EVbiEilz1TcAX9SDi18&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfC8sIqNqKuw6VubywD9noxsRzLZKhimsRwDtYnbDnAWQg&oe=655D8C84"
                        alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_1">LampCafe สาขา 1 หน้ามหาวิทยาลัย</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">
                </div>
                <p>LampCafe สาขา 1 หน้ามหาวิทยาลัย</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านกาแฟ/ชารอบแม่ฟ้าหลวง</p>
            </a>
        </div>

        <div class="Border_box2">
            <a href="restaurant.html">
                <div class="Grid_ImgShop">
                    <img src="https://www.cotrpro.com/wp-content/uploads/2023/04/340989031_1217394405805914_2585788723191963618_n.jpg"
                        alt="">
                    <img src="https://www.cotrpro.com/wp-content/uploads/2022/08/298262470_6000511789977109_5272908392452833860_n.jpg"
                        alt="">
                    <img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t1.6435-9/58460588_2672591682769153_2258206526206377984_n.jpg?stp=dst-jpg_p843x403&_nc_cat=109&ccb=1-7&_nc_sid=7f8c78&_nc_eui2=AeEFpr8nuawozXQSeasb3QquqedIwV75ZVqp50jBXvllWiWni9JisK89wWq9OpM-r_2zjHVVk8fdl17ipc-OgYv2&_nc_ohc=Et6nNjijfX8AX8FMyzE&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfC7d0IMY_AS29-aXuam6xermVv9tv_SKaKXRkvsoGLPPQ&oe=658081E6"
                        alt="">
                    <img src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t39.30808-6/397397702_722241259938182_2403619944733874186_n.jpg?stp=dst-jpg_p843x403&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGIzNE9X8fcV8Acho3G_hegvccX3L-mkae9xxfcv6aRpzVmEOwmGnhfP0eJNB5erkjcH_pTaGf0jusp9-B8hk_k&_nc_ohc=VIA-7QGPzr4AX9dHhUw&_nc_ht=scontent.fbkk5-7.fna&oh=00_AfC6dhCr_OiEeEjUp1H9nRI4s8SdpM_NU-JOEz2vF_MIIA&oe=655DA545"
                        alt="">
                    <img src="https://scontent.fbkk5-6.fna.fbcdn.net/v/t39.30808-6/395077575_719203820241926_390000784056478169_n.jpg?stp=dst-jpg_p843x403&_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHKOUa6EwpaNbjTcncthr4QuQnRhNvXIOy5CdGE29cg7L-IPwJzArh4OGTmtfGIt7uQDpIIVMsU8Pka1Gdfm4Dp&_nc_ohc=1IMk4rc9PH4AX9xXECF&_nc_ht=scontent.fbkk5-6.fna&oh=00_AfBbktJh97RP-J9zs1uHaofmPvDpKaT-lo_BTrnwAJ4cpw&oe=655DB48E"
                        alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_2">อี่คำหวาน</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">
                </div>
                <p>อี่คำหวาน</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้้านขนมหวาน/เครป/ขนมแสนอร่อยรอบแม่ฟ้าหลวง</p>
        </div>

        <div class="Border_box3">
            <a href="restaurant.html">

                <div class="Grid_ImgShop">
                    <img src="https://obs.line-scdn.net/0hCDZDeC3BHGtnPTa_uwljPEhiEhpUX0U0XghQBUM_SkdIXQs5R14DCRYhSllIWUdpXwwHXUVqS1NLDFJvCw9WD0c5RR5LBQ9qDFJXDw/w960"
                        alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/03/21/9e6e52c2723c4549a24449686b4db9c1.jpg" alt="">
                    <img src="https://img.wongnai.com/p/1920x0/2017/08/26/7c18c6ba7c124b7bb10977e4efa49564.jpg" alt="">
                    <img src="https://images.deliveryhero.io/image/fd-th/Products/24925135.jpg?width=%s" alt="">
                    <img src="https://images.deliveryhero.io/image/fd-th/Products/24925352.jpg?width=%s" alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_3">เครปยายดา</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">
                </div>
                <p>เครปยายดา</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านขนม/เครปยายดา/ขนมแสนอร่อยรอบแม่ฟ้าหลวง</p>
            </a>
        </div>


        <!-- right_container_top-->
        <div class="container_right_top">

        </div>

        <br>

        <!-- right_container_down-->
        <div class="container_right_down">
            <h3>เมนูแนะนำ</h3>
            <div class="container-right_down_infont">
                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">
                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">
                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">
                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">
                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    </div>

</body>

</html>