<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/menufood.css">
    <title>Menu page</title>
</head>

<body>

    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/login">profile</a>
                <a href="/login">login</a>
                <a href="#">logout</a>    
            </div>
        </div>
    </header>

    <!-- left_container_-->
    <div class="grid_layout">
        <h1 class="type_res">ร้านอาหาร ยอดนิยม ใน มฟล.</h1>
        <div class="contain">
            <label class="container">ร้านอาหาร
               <a th:href="@{/menufood}"><input type="checkbox" checked="checked">
                <span class="checkmark"></span></a>
            </label>

            <label class="container">ร้านดื่ม
                <a th:href="@{/menudessert}"><input type="checkbox">
                <span class="checkmark"></span></a>
            </label>

            <label class="container">ร้านของหวาน
                <a th:href="@{/menudrink}"><input type="checkbox">
                <span class="checkmark"></span></a>
            </label>

            <br>
            <hr>
            <br>

            <h5>เรตติ้ง</h5>
            <label class="container">5.0+
                <a th:href="@{/fivestar}"><input type="checkbox">
                <span class="checkmark1"></span></a>
            </label>
            <label class="container">4.0+
                <a th:href="@{/fourstar}"><input type="checkbox">
                <span class="checkmark1"></span></a>
            </label>
            <label class="container">3.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">2.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">1.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>





        </div>
        <div class="Border_box1">
                <a th:href="@{/noodlesun}">
                <div class="Grid_ImgShop">
                    <img src="https://img.wongnai.com/p/400x0/2022/02/26/eff92b356e524d02950b05a22eff6b09.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/02/26/07290cf4a9c144218e91a40e7db44b60.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/02/26/d822632c893e45abaffe0950cfaa6c8f.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/02/26/8e39fe16e7654703af1fb649b876d8b0.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2019/03/27/e8152b93f1d9466b81cbfeb82495beca.jpg" alt="">
                    
                </div>
                <div class="Content_Shop">
                    <h1 class="title_1">ก๋วยเตี๋ยวเรือพระอาทิตย์</h1>
                    
                </div>
                <p>ก๋วยเตี๋ยวเรือพระอาทิตย์</p>
                <p><span class="star">5.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
                </a>
        </div>


        <div class="Border_box2">
            <a th:href="@{/pagmor}">

                <div class="Grid_ImgShop">
                    <img src="https://img.wongnai.com/p/192x192/2021/04/30/fc38f10bde884b8a85695071c3f6b8df.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2021/04/30/9ef4f91e99da4a89af9c8bba3b6543dd.jpg" alt="">
                    <img src="https://img.wongnai.com/p/1920x0/2021/04/30/024b3b144bd747319f74aafb75ca94a4.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2021/04/30/b51668c914ef45dcbc8aa41670a3b833.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2021/04/30/1fa8c37dec16484baeb8b62aab63c22d.jpg" alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_2">ปากหม้อ หน้ามอ</h1>
                   
                </div>
                <p>ปากหม้อ หน้ามอ</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>
        </div>

        <div class="Border_box3">
            <a th:href="@{/gindon}">

                <div class="Grid_ImgShop">
                    <img src="menuP/food/gindon/ข้าวหน้าเนื้อใบพายพรีเมียมย่างซอส+ไข่ออน (Gindon).jpg"
                        alt="">
                    <img src="menuP/food/gindon/ข้าวหน้าไก่ย่างไซส์L+ไข่ออนเซ็น (Gindon).jpg"
                        alt="">
                    <img src="menuP/food/gindon/ยำสาหร่าย (Gindon).jpg" alt="">
                    <img src="menuP/food/gindon/สลัดรวมน้ำสลัดงาซีอิ๊วญี่ปุ่น (Gindon).jpg"
                        alt="">
                    <img src="menuP/food/gindon/ข้าวหน้ากุ้งย่างซอส (Gindon).jpg" alt="">


                </div>
                <div class="Content_Shop">

                    <h1 class="title_3">GINDON กินด้งข้าวหน้าของย่าง แม่ฟ้าหลวง</h1>
                   

                </div>
                <p>GINDON กินด้งข้าวหน้าของย่าง แม่ฟ้าหลวง</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>
        </div>
        <div class="Border_box4">
            <a th:href="@{/immjung}">

                <div class="Grid_ImgShop">
                    <img src="menuP/food/immjung/kaimal.png" alt="">
                    <img src="menuP/food/immjung/kao.png" alt="">
                    <img src="menuP/food/immjung/or.png" alt="">
                    <img src="menuP/food/immjung/imcold.png" alt="">
                    <img src="menuP/food/immjung/porkmala.png" alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_4">Imm Jung อิ่มจังเส้นสด</h1>
                    

                </div>
                <p>Imm Jung อิ่มจังเส้นสด</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>

        </div>
        <div class="Border_box5">
            <a th:href="@{/noodlechai}">

                <div class="Grid_ImgShop">
                    <img src="menuP/food/sub/ก๋วยเตี๋ยวต้มยำน้ำข้น_เกาเหลาต้มยำน้ำข้น(เส้นไชย เจริญทรัพย์).jpg"
                        alt="">
                    <img src="menuP/food/sub/ก๋วยเตี๋ยวแห้งซีอิ๊วน้ำไก่ตุ๋น(เส้นไชย เจริญทรัพย์).jpg"
                        alt="">
                    <img src="menuP/food/sub/ซุปเปอร์ตีนไก่ (เส้นไชย เจริญทรัพย์).jpg"
                        alt="">
                    <img src="menuP/food/sub/ก๋วยเตี๋ยวเรือหมูน้ำตก (เส้นไชย เจริญทรัพย์).jpg"
                        alt="">
                    <img src="menuP/food/sub/ก๋วยเตี๋ยวไก่ตุ๋น (เส้นไชย เจริญทรัพย์).jpg"
                        alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_5">เส้นไชย เจริญทรัพย์
                    </h1>
                
                </div>
                <p>เส้นไชย เจริญทรัพย์</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>

        </div>


        <!-- right_container_top-->
        <div class="container_right_top">

        </div>

        <br>

        <!-- right_container_down-->
        <div class="container_right_down">
            <h3>เมนูแนะนำ</h3><a th:href="@{/cafeamazon}">
                <div class="container-right_down_infont">
                    <img src="menuP/Cafe/café amazon/มัทฉะลาเต้ (café amazon).png"
                        class="image2">
                    <div class="flex3">
                        <div class="between">
                            <div class="column">
                                <span class="star">5.0<i class='bx bx-star'></i></span>
                                <span>เปิดอยู่</span>

                                <h3>Cafe Amazon</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a th:href="@{/pagmor}">
                <div class="container-right_down_infont">
                    <img src="menuP/food/pakmor/ยำหมูยอไข่เค็ม (ปากหม้อ).jpg" class="image2">
                    <div class="flex3">
                        <div class="between">
                            <div class="column">
                                <span class="star">4.0<i class='bx bx-star'></i></span>
                                <span>เปิดอยู่</span>

                                <h3>ปากหม้อ</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a th:href="@{/gindon}">
                <div class="container-right_down_infont">

                    <img src="menuP/food/gindon/ข้าวหน้าเนื้อใบพายพรีเมียมย่างซอส+ไข่ออน (Gindon).jpg"
                        class="image2">
                    <div class="flex3">
                        <div class="between">
                            <div class="column">
                                <span class="star">4.0<i class='bx bx-star'></i></span>
                                <span>เปิดอยู่</span>

                                <h3>Gindon</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a th:href="@{/milkbox}">
                <div class="container-right_down_infont">

                    <img src="menuP/desert/Milk Box MFU/ช็อกโกแลตโทสต์ (Milk Box).jpg"
                        class="image2">
                    <div class="flex3">
                        <div class="between">
                            <div class="column">
                                <span class="star">4.0<i class='bx bx-star'></i></span>
                                <span>เปิดอยู่</span>

                                <h3>Milkbox</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <a th:href="@{/lampcafe}">
                <div class="container-right_down_infont">
                    <img src="menuP/Cafe/Lamp Cafe/Sunset Peach (Lamp Cafe).jpg"
                        class="image2">
                    <div class="flex3">
                        <div class="between">
                            <div class="column">
                                <span class="star">4.0<i class='bx bx-star'></i></span>
                                <span>เปิดอยู่</span>

                                <h3>LampCafe</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </a>



        </div>



    </div>



    </div>
    </div>

</body>

</html>