<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/src/main/resources/static/css/menufood.css">
    <title>Menu page</title>
</head>

<body>

    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <!-- left_container_-->
    <div class="grid_layout">
        <h1 class="type_res">ร้านอาหาร ยอดนิยม ใน มฟล.</h1>
        <div class="contain">
            <label class="container">ร้านอาหาร
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>

            <label class="container">ร้านดื่ม
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label class="container">ร้านของหวาน
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <br>
            <hr>
            <br>

            <h5>เรตติ้ง</h5>
            <label class="container">5.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">4.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">3.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">2.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>
            <label class="container">1.0+
                <input type="checkbox">
                <span class="checkmark1"></span>
            </label>





        </div>
        <div class="Border_box1">
            <a href="restaurant.html">
                <div class="Grid_ImgShop">
                    <img src="https://img.wongnai.com/p/400x0/2022/02/26/eff92b356e524d02950b05a22eff6b09.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/02/26/07290cf4a9c144218e91a40e7db44b60.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/02/26/d822632c893e45abaffe0950cfaa6c8f.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2022/02/26/8e39fe16e7654703af1fb649b876d8b0.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2019/03/27/e8152b93f1d9466b81cbfeb82495beca.jpg" alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_1">ก๋วยเตี๋ยวเรือพระอาทิตย์</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">
                </div>
                <p>ก๋วยเตี๋ยวเรือพระอาทิตย์</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>

        </div>


        <div class="Border_box2">
            <a href="restaurant.html">

                <div class="Grid_ImgShop">
                    <img src="https://img.wongnai.com/p/192x192/2021/04/30/fc38f10bde884b8a85695071c3f6b8df.jpg" alt="">
                    <img src="https://img.wongnai.com/p/256x256/2021/04/30/9ef4f91e99da4a89af9c8bba3b6543dd.jpg" alt="">
                    <img src="https://img.wongnai.com/p/1920x0/2021/04/30/024b3b144bd747319f74aafb75ca94a4.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2021/04/30/b51668c914ef45dcbc8aa41670a3b833.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2021/04/30/1fa8c37dec16484baeb8b62aab63c22d.jpg" alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_2">ปากหม้อ หน้ามอ</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">
                </div>
                <p>ปากหม้อ หน้ามอ</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>
        </div>

        <div class="Border_box3">
            <a href="restaurant.html">

                <div class="Grid_ImgShop">
                    <img src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t39.30808-6/402588071_179764305205983_4988624654146614042_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFs3kwVQLsXQ3Yp237XkccwcanViEe5qJ1xqdWIR7monf5YkdfUmQYn6yCccUqnb7QvkR-DnyIkjmX-NV2cDN7X&_nc_ohc=SCUWv0qMetkAX-f4kKf&_nc_ht=scontent.fbkk5-7.fna&oh=00_AfDxlaeJx2Fb1qYWoP5Wo3PBezVn-9q1ryicomAU2oBzEQ&oe=655DC535"
                        alt="">
                    <img src="https://scontent.fbkk5-3.fna.fbcdn.net/v/t39.30808-6/399898242_177371022111978_6328529521381173720_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFt5LivB5KWyeDME3AGEWMw04Empb5jGiTTgSalvmMaJGenuolzxxnHkvJNau9rIPqtgB7_R-GB0vXcn5xWSxPO&_nc_ohc=8QOWOzWywJ0AX9cSHBA&_nc_ht=scontent.fbkk5-3.fna&oh=00_AfAE8jXwgj6yqmzTH9Nk3fOIrB3tww9nFGN9VoKzFytDAA&oe=655E01CE"
                        alt="">
                    <img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t39.30808-6/401149507_177370825445331_7576899505482270607_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEzEgutOtoJI1jED6A_wV7t294Nv_ArxAXb3g2_8CvEBbDvaJYV_lE9OlyyHW05NRGtqxUdLGjmDHr3T-iNTTVN&_nc_ohc=bq3uicHyM-4AX82F5Gy&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfDXySmvNq-8FBkjE8GIZHFaQg7CaCorySlJanoi3Ig2RA&oe=655EF517"
                        alt="">
                    <img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t39.30808-6/399814554_176808365501577_4372414958273925432_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQPjckwTOz9FAONT8ZqDqTBXZp5XdI1vAFdmnld0jW8M4w5KmQmL7dqyGi7goeUDfM164hmFudm2FP3y_sUE0d&_nc_ohc=ciEq6NrIOp8AX-EBD0v&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfCdGnsCEjk-YnODkFvlpxSp3q_nGHuXn4EPr1ffJxbiZg&oe=655DA97E"
                        alt="">
                    <img src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t39.30808-6/399819766_175739928941754_6277281066503487152_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeER7fdpT7X_WM2RFzrFLRFL1FFBa0DNZ_jUUUFrQM1n-BCBSn7LaQ_Vmr1HEKJ9XMLTqYlnI7xeVyrXfZv6YInD&_nc_ohc=nRLUbYuW49IAX_vGAKG&_nc_ht=scontent.fbkk5-7.fna&oh=00_AfA24b36KKHsXSc03hGPAioQ9glx6o-sCL_4mcI6rthWNg&oe=655DF711"
                        alt="">


                </div>
                <div class="Content_Shop">

                    <h1 class="title_3">GINDON กินด้งข้าวหน้าของย่าง แม่ฟ้าหลวง</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">

                </div>
                <p>GINDON กินด้งข้าวหน้าของย่าง แม่ฟ้าหลวง</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>
        </div>
        <div class="Border_box4">
            <a href="restaurant.html">

                <div class="Grid_ImgShop">
                    <img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t39.30808-6/401368646_827116379211258_7474138662064332807_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE3_sLAHK_YzuNP0EVi_W9t7Fr4-VT4TnPsWvj5VPhOc-RTOY0ihn1FYqQ3BLqS-v6OUQzB2aZd6ht9HObKLFrn&_nc_ohc=eI--3EskcpMAX_zq7AX&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfCaTM2aPEoKuzw_PzCEhwE6nHyIHt2jPXfvjTeAHhWxjg&oe=655E945C"
                        alt="">
                    <img src="https://scontent.fbkk5-3.fna.fbcdn.net/v/t39.30808-6/401206914_827116399211256_8242685034427844825_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHtXZgt86M25LJXl1nZeqADSQjd-yQHEvpJCN37JAcS-uNE_LIc1n1cXe66NfBhvm5_9PNyyy5xAWKLWrZgO2ue&_nc_ohc=9MODAp_Zcu8AX_DJ1oX&_nc_ht=scontent.fbkk5-3.fna&oh=00_AfCgstFuQYbrIcHqM-eh7ASS-Pk12NI_Xh62iwiWp0wt0g&oe=655DE9D5"
                        alt="">
                    <img src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t39.30808-6/401323956_827116435877919_4152514618097746109_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF3XReK-AB3Aae0gZ1uxQjMvcl3aD-6zwS9yXdoP7rPBMOOjoHLYGTJWQPFYzppnyz2gtC5RnIb38AUAjzUFawg&_nc_ohc=gAe4SNiAzU0AX-bguCq&_nc_ht=scontent.fbkk5-5.fna&oh=00_AfBDmCsKDZszR6W_cJlijfRqw23KM4M0HQRINus2leeqIw&oe=655D4116"
                        alt="">
                    <img src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t39.30808-6/402480448_826079179314978_4591308959927453584_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE-x3MnB40IJ8hOiymK18b0GGokMg1SeR4YaiQyDVJ5HmxweGoIpM27pVbOhqdBc1Y1ONC9SJ3K_IiTz5-oKDNh&_nc_ohc=q3z4T9VDeTkAX8LKGMC&_nc_ht=scontent.fbkk5-1.fna&oh=00_AfClohdj0x-RxlwH2l74xC1azZjabMeooBzTEnl2Xpt_Lw&oe=655E6860"
                        alt="">
                    <img src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t39.30808-6/399885677_823966796192883_1532511799816724502_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQ8-C7lwIXuc3C4ojSJ_cU4Vwa-YzDnlThXBr5jMOeVOkkElB38DAuzRSS58O3Jxs0Mfg-ruNkKk6y5Wwic0Ix&_nc_ohc=NPQeyqOg-NQAX8sN6U0&_nc_ht=scontent.fbkk5-5.fna&oh=00_AfDxbpGt9ogK5cx723qTFoGc8z1gpX_HaBQfRzRO0FHB6A&oe=655E49DB"
                        alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_4">Imm Jung อิ่มจังเส้นสด</h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">

                </div>
                <p>LampCafe สาขา 1 หน้ามหาวิทยาลัย</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>

        </div>
        <div class="Border_box5">
            <a href="restaurant.html">

                <div class="Grid_ImgShop">
                    <img src="https://scontent.fbkk5-3.fna.fbcdn.net/v/t39.30808-6/385083053_837190614860253_7503822509531960416_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHNiW84NB9ohdcyQzQ43Mye7sLq6QDLh7PuwurpAMuHszjyLODqt-XIiNloth7kgcDltMxbNjLo2lpHZB3bXKLs&_nc_ohc=CNbE_vSG3jIAX-abo4R&_nc_ht=scontent.fbkk5-3.fna&oh=00_AfBs9uzA0iS4J-u_fsDiJWye56xtk8E3xdD8AylE8CKCqg&oe=655D975C"
                        alt="">
                    <img src="https://scontent.fbkk5-3.fna.fbcdn.net/v/t39.30808-6/367730706_810218150890833_5601731881527202138_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHp38RoI_jfKu5dja8eTRZUc3ZzLK-iYZlzdnMsr6JhmY2h06CD2J6S9HIt1L6gIduf0RV0qhNgNLy-qVkRBIJL&_nc_ohc=Czkhape3hVIAX-Vuaxg&_nc_ht=scontent.fbkk5-3.fna&oh=00_AfAJoxMcWSW9XElrXO2ZaAno4isnAh3PRo6cklRfF8Vckw&oe=655DA8C1"
                        alt="">
                    <img src="https://www.bloggang.com/data/benz47/review/images/chuanchim_3_32_1.jpg" alt="">
                    <img src="https://paikubpro.com/wp-content/uploads/2023/04/tep-2-1024x683.jpg" alt="">
                    <img src="https://img.wongnai.com/p/192x192/2016/07/05/09c8dfea7dc64ba2951ac5d9d4e6a8eb.jpg" alt="">

                </div>
                <div class="Content_Shop">
                    <h1 class="title_5">เส้นไชย เจริญทรัพย์
                    </h1>
                    <input type="checkbox" id="heart">
                    <label for="heart">
                </div>
                <p>เส้นไชย เจริญทรัพย์</p>
                <p><span class="star">4.0 <i class='bx bx-star'></i></span> 3 รีวิว ฿ <span>เปิดอยู่</span></p>
                <p>#ร้านอาหารรอบมหาวิทยาลัยแม่ฟ้าหลวง</p>
            </a>

        </div>


        <!-- right_container_top-->
        <div class="container_right_top">

        </div>

        <br>

        <!-- right_container_down-->
        <div class="container_right_down">
            <h3>เมนูแนะนำ</h3>
            <div class="container-right_down_infont">

                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">

                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">

                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">

                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-right_down_infont">

                <img src="https://media.istockphoto.com/id/1011241694/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B9%80%E0%B8%A3%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%B2%E0%B8%87%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B9%84%E0%B8%A1%E0%B9%89%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%AB%E0%B8%B2%E0%B8%94%E0%B8%97%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=q7qz0uFc4Zkf5tGxFLNFyg82k_l9YS06nUQ9Ny-RIOo="
                    class="image2">
                <div class="flex3">
                    <div class="between">
                        <div class="column">
                            <span class="star">4.0<i class='bx bx-star'></i></span>
                            <span>เปิดอยู่</span>

                            <h3>LampCafe</h3>
                        </div>

                    </div>
                </div>
            </div>



        </div>



    </div>
    </div>

</body>

</html>