<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>Milk Box MFU</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/personal">profile</a>
                <a href="/login">login</a>
                <a href="/logout">logout</a>    
            </div>
        </div>
    </header>

    <section class="container">
        <img src="menuP/mainn/milk.jpg" alt="" class="img-box">
        <div class="flex">
            <h1 class="item">Milk Box</h1>
            <p>Milk Box</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 10.00am-11.50pm. <br>
                เบอร์โทร: 0875767540 <br>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">

            <div class="box">
                <img src="menuP/desert/Milk Box MFU/ช็อกโกแลตโทสต์ (Milk Box).jpg">
                <div class=" content">
                    <h6>ช็อกโกแลตโทสต์</h6>
                    <h6>49</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/บราวชูก้าร์สังขหยาโทสต์ (Milk Box).jpg">
                <div class=" content">
                    <h6>บราวชูก้าร์สังขหยา</h6>
                    <h6>69</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/บลูเบอร์รี่โทสต์ (Milk Box).jpg">
                <div class=" content">
                    <h6>บลูเบอร์รี่โทสต์</h6>
                    <h6>49</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/ปังคาราเมล (Milk Box).jpg">
                <div class=" content">
                    <h6>ปังคาราเมล</h6>
                    <h6>25</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/ปังช็อคโกแล็ต (Milk Box).jpg">
                <div class=" content">
                    <h6>ปังช็อคโกแล็ต</h6>
                    <h6>25</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/ปังบลูเบอรี่ (Milk Box).jpg">
                <div class=" content">
                    <h6>ปังบลูเบอรี่</h6>
                    <h6>25</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/สตรอว์เบอร์รี่โทสต์ (Milk Box).jpg">
                <div class=" content">
                    <h6>สตรอว์เบอร์รี่โทสต์ </h6>
                    <h6>49</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/ฮันนี่โทสต์ (Milk Box).jpg">
                <div class=" content">
                    <h6>ฮันนี่โทสต์ </h6>
                    <h6>49</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/desert/Milk Box MFU/เนยถั่วโทสต์ (Milk Box).jpg">
                <div class=" content">
                    <h6>เนยถั่วโทสต์</h6>
                    <h6>69</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>