<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>ปากหม้อ</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/login">profile</a>
                <a href="/login">login</a>
                <a href="#">logout</a>    
            </div>
        </div>
    </header>

    <section class="container">

        <img class="img-box" src="menuP/mainn/pakk.jpg" alt="">

        <div class="flex">
            <h1 class="item">ปากหม้อ หน้ามอ</h1>
            <p>ปากหม้อ หน้ามอ</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 11.00am.-1.30am.<br>
            <p>เบอร์ : 0992453599 </p>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="menuP/food/pakmor/White choc oreo Croffle (ปากหม้อ).jpg">
                <div class=" content">
                    <h7>White choc oreo Croffle</h7>
                    <h6>69</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/Banana Choco Croffle (ปากหม้อ).jpg">
                <div class="content">
                    <h7>Banana Choco Croffle</h7>
                    <h6>69</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/Marshmallow Choco Croffle (ปากหม้อ).jpg">
                <div class=" content">
                    <h8>Marshmallow Choco Croffle</h8>
                    <h6>69</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/ข้าวผัดต้มยำ(ปากหม้อ).jpg">
                <div class=" content">
                    <h8>ข้าวผัดต้มยำ</h8>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/ข้าวสามชั้นผัดกระปิ (ปากหม้อ).jpg">
                <div class=" content">
                    <h7>ข้าวสามชั้นผัดกระปิ </h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/ข้าวหมูทอดกระเทียมพริกไทย (ปากหม้อ).jpg">
                <div class=" content">
                    <h7>ข้าวหมูทอดกระเทียมพริกไทย </h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/ยำข้าวโพดไข่เค็ม (ปากหม้อ).jpg">
                <div class=" content">
                    <h7>ยำข้าวโพดไข่เค็ม</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/ยำหมูยอ (ปากหม้อ).jpg">
                <div class=" content">
                    <h7>ยำหมูยอ</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/food/pakmor/ยำหมูยอไข่เค็ม (ปากหม้อ).jpg">
                <div class=" content">
                    <h7>ยำหมูยอไข่เค็ม</h7>
                    <h6>100</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>