<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>โรตี หาดใหญ่</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/personal">profile</a>
                <a href="/login">login</a>
                <a href="/logout">logout</a>    
            </div>
        </div>
    </header>

    <section class="container">
        <img src="menuP/mainn/rotiii.png" alt="" class="img-box">
        <div class="flex">
            <h1 class="item">รอดียะห์ โรตีหาดใหญ่</h1>
            <p>รอดียะห์ โรตีหาดใหญ่</p>
            <p><span class="star">3.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 10.00am-10.00pm. <br>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีมะตะบะ (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีมะตะบะ</h6>
                    <h6>60</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีจิ้มแกงชุดใหญ่ (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class="content">
                    <h6>โรตีจิ้มแกงชุดใหญ่</h6>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีทิชชู่ (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีทิชชู่</h6>
                    <h6>40</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีช็อคโกแลตชีส (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีช็อคโกแลตชีส</h6>
                    <h6>50</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีข้าวโพด (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีข้าวโพด</h6>
                    <h6>40</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีกล้วย (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีกล้วย</h6>
                    <h6>40</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีโอวัลติน (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีโอวัลติน</h6>
                    <h6>35</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีกรอบ (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีกรอบ</h6>
                    <h6>25</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/desert/Rodiya Roti Hat Yai/โรตีหนากรอบ (รอดียะห์ โรตีหาดใหญ่).jpg">
                <div class=" content">
                    <h6>โรตีหนากรอบ</h6>
                    <h6>25</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>