<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>Singha Park</title>

</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/personal">profile</a>
                <a href="/login">login</a>
                <a href="/logout">logout</a>    
            </div>
        </div>
    </header>

    <section class="container">
        <img src="menuP/mainn/sing.jpg" alt="" class="img-box">
        <div class="flex">
            <h1 class="item">Singha Park Cafe MFU</h1>
            <p>Singha Park Cafe MFU</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>
            <p>จันทร์ - อาทิตย์ 9.00am-5.00pm <br>
            <p>เบอร์โทร : 05316063637</p>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="menuP/Cafe/Singha Park/ชาเขียวMaruzen(Singha Park ).png">
                <div class=" content">
                    <h7>Green tea Maruzen</h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/ช็อกโกแลตปั่น(Singha Park ).png">
                <div class="content">
                    <h7>Chocolate Frappe</h7>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/Singha Maruzen Latte(Singha Park ).png">
                <div class=" content">
                    <h7>Singha Maruzen Latte</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/Pink Milk Frappe(Singha Park ).png">
                <div class=" content">
                    <h7>Pink Milk Frappe</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/Iced Thai Tea (Singha Park ).png">
                <div class=" content">
                    <h7>Iced Thai Tea</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/Houjicha Latte(Singha Park ).png">
                <div class=" content">
                    <h7>Iced Honey Americano</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img
                    src="menuP/Cafe/Singha Park/Hakkaido Green Tea Frappe (Singha Park ).png">
                <div class=" content">
                    <h7>Hakkaido Green Tea Frappe</h7>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/Fresh Milk Frappe (Singha Park ).png">
                <div class=" content">
                    <h7>Fresh Milk Frappe</h7>
                    <h6>60</h6>
                </div>
            </div>
            <div class="box">
                <img src="menuP/Cafe/Singha Park/Espresso(Singha Park ).png">
                <div class=" content">
                    <h7>Espresso</h7>
                    <h6>85</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>