<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/restaurant.css">
    <title>Menu page</title>
</head>

<body>
    <header>
        <img class="header_logo" src="css/img/1.png" >
        <form class="searchform">
          <input type="text_01" placeholder="ค้นหา">
          <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <a href="/home"><button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i>Home</button></a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="/login">profile</a>
                <a href="/login">login</a>
                <a href="#">logout</a>    
            </div>
        </div>
    </header>

    <div class="mix">
        <section class="container">


            <div class="gallery">
                <div class="gallery-image">
                    <img src="menuP/desert/yaida/yaida9.jpg" alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="menuP/mainn/daaa.jpg" alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="menuP/desert/yaida/yaida7.jpg" alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="menuP/desert/yaida/yaida5.jpg" alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="menuP/desert/yaida/yaida6.jpg" alt="" class="image">
                </div>
                <div class="gallery-image">
                    <img src="menuP/desert/yaida/yaida8.jpg" alt="" class="image">
                </div>
            </div>
        </section>
        <div class="flexbox">
            <div class="container1">
                <div class="item1">
                    <div class="flex3">
                        <div class="between">
                            <h1>เครปยายดา</h1>
                            <input type="checkbox" id="heart">
                            <label for="heart">
                        </div>
                    </div>
                    <p class="detail">เครปยายดา ของหวาน/เครป</p>
                    <br>
                    <p>ร้านเครปยายดาเป็นร้านที่พิเศษที่นำเสนอเครปและอร่อยมาก โดดเด่นด้วยการใส่ไส้ที่หลากหลาย เช่น
                        ช็อกโกแลต, สตรอเบอรี, ผลไม้ ซึ่งทำให้เครปนี้เป็นทางเลือกที่ยอดเยี่ยมสำหรับคนที่ชอบของหวาน</p>
                </div>
            </div>
            <div class="container2">
                <div class="item2">
                    <h2>เวลาเปิดร้าน</h2>
                    <p class="detail">จันทร์-ศุกร์ 12:00 - 23:59 <br>
                        เสาร์, อาทิตย์ 12:00 - 23:50 </p>
                    <br>
                    <p><i class="fa-solid fa-square-check" style="color: #ff9967;"></i> มีที่จอดรถ

                        <br>

                        <i class="fa-solid fa-square-check" style="color: #ff9967;"></i> มีที่นั่ง

                        <br>

                        <i class="fa-solid fa-square-check" style="color: #ff9967;"></i> เดริเวอรี่

                        <br>
                        <i class="fa-solid fa-square-check" style="color: #ff9967;"></i> เหมาะสำหรับทุกเพศทุกวัย

                    </p>
                    <br>

                    <p>-ช่วงราคา</p>
                    <p class="detail">50฿-100฿</p>
                </div>
            </div>
            <div class="container3">
                <div class="item3">
                    <a href="https://maps.app.goo.gl/HZwU1p75tvdf6mKp6">
                        <div class="box3">

                        </div>
                    </a>
                    <div class="flex3">
                        <div class="between">
                            <p class="namemenu">เครปยายดา ตำบล นางแล อำเภอเมืองเชียงราย เชียงราย 57100
                            <p>
                                <i class='bx bx-map bx-sm'></i>
                            </p>
                        </div>
                        <br>
                        <div class="between">
                            <p class="namemenu">เบอร์โทร : -
                            <p>
                                <i class='bx bx-phone-call bx-sm'></i>
                            </p>
                        </div>
                        <br>

                        <div class="between">
                            <a th:href="@{/yaidamenu}">
                                <p class="namemenu">ดูเมนูและราคา</p>
                                <p>
                                    <i class='bx bx-bowl-hot bx-sm'></i>
                            </a>
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="container5">

                <img class="item5"
                    src="https://scontent.fbkk3-5.fna.fbcdn.net/v/t1.6435-9/87803675_112416137024735_8881921144685330432_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=7f8c78&_nc_eui2=AeE4P3xfNLvSzL99cGQMMrz2uvD3EZLipgS68PcRkuKmBOfTbGf4VUUQEGA7mk57SYjJFvZIxP13_3ivged6b5cs&_nc_ohc=1vvpqVUU3bYAX-0kb_8&_nc_ht=scontent.fbkk3-5.fna&oh=00_AfBYm2X-2G8dye63o8iz6vvzhbCuP0z6pna0xKrqvu8e5A&oe=6586E36C"
                    alt="">

            </div>
            <div class="container4">
                <div class="item4">
                    <div class="between">
                        <h2>เมนูแนะนำ</h2>
                        <a th:href="@{/yaidamenu}">
                            <p class="viewall">ดูทั้งหมด</p>
                        </a>
                    </div>
                    <div class="gridmenu">
                        <div class="boxmenu">
                            <img class="img4" src="menuP/desert/yaida/yaida9.jpg" alt="">
                        </div>
                        <div class="boxmenu">
                            <img class="img4" src="menuP/desert/yaida/yaida5.jpg" alt="">
                        </div>
                        <div class="boxmenu">
                            <img class="img4" src="menuP/desert/yaida/yaida6.jpg" alt="">
                        </div>
                        <div class="boxmenu">
                            <img class="img4" src="menuP/desert/yaida/yaida7.jpg" alt="">
                        </div>

                        <br>
                        <p class="namemenu">ซิกเนเจอร์เครป</p>
                        <p class="namemenu">เครปหวานฉ่ำ</p>
                        <p class="namemenu">ขนมบังโทส Choco</p>
                        <p class="namemenu">ขนมบังโทสนูเทล่า</p>
                    </div>
                </div>
            </div>
            <div class="container6">
                <div class="item6">
                    <h3>รีวิวโดยลูกค้า</h3>
                    <hr>
                    <br>
                    <div class="box-review">
                        <div class="profile-logo">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                                alt="User Profile Picture">
                        </div>
                        <div class="Column">
                            <p>สิริศักดิ์ วงษ์สวัสดิ์</p>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            </div>
                        </div>
                    </div>
                    <p><span class="reviewtag">รีวิว:</span>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Ex
                        quam esse iusto? Labore deleniti quaerat maxime sapiente ad? Accusantium quis ipsum ullam
                        odio
                        officia. Officia omnis maiores rem esse iusto.</p>
                    <br>
                    <hr>
                    <br>
                    <div class="box-review">
                        <div class="profile-logo">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                                alt="User Profile Picture">
                        </div>
                        <div class="Column">
                            <p>สิริศักดิ์ วงษ์สวัสดิ์</p>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            </div>
                        </div>
                    </div>
                    <p><span class="reviewtag">รีวิว:</span>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Ex
                        quam esse iusto? Labore deleniti quaerat maxime sapiente ad? Accusantium quis ipsum ullam
                        odio
                        officia. Officia omnis maiores rem esse iusto.</p>
                    <br>
                    <hr>
                    <br>
                    <div class="box-review">
                        <div class="profile-logo">
                            <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                                alt="User Profile Picture">
                        </div>
                        <div class="Column">
                            <p>สิริศักดิ์ วงษ์สวัสดิ์</p>
                            <div class="rating">
                                <i class="fa-regular fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                                <i class="fa-solid fa-star" style="color: #FF9967;"></i>

                            </div>
                        </div>
                    </div>
                    <p><span class="reviewtag">รีวิว:</span>Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Ex
                        quam esse iusto? Labore deleniti quaerat maxime sapiente ad? Accusantium quis ipsum ullam
                        odio
                        officia. Officia omnis maiores rem esse iusto.</p>
                    <br>
                </div>
            </div>
            <div class="container7">
                <div class="item7">
                    <h3>คะแนนรีวิว</h3>

                    <p>4/5</p>
                    <div class="column">
                        <div class="rating">
                            <i class="fa-regular fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                            <i class="fa-solid fa-star" style="color: #FF9967;"></i>
                        </div>
                    </div>

                    <div class="profile-logo">
                        <img src="https://images.immediate.co.uk/production/volatile/sites/3/2023/04/naruto-762b09d.jpg?resize=768,574"
                            alt="User Profile Picture">
                    </div>
                    <div class="row">
                        <h4>ภูเบศร กลับไชย </h4>
                        <span class="reviewtag">ให้คะแนน</span>
                    </div>
                    <div class="star-rating">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    <section id="app">
                        <div class="container-comment">
                            <div class="row">
                                <div class="col-6">
                                    <div class="comment">
                                        <p v-for="items in item" v-text="items"></p>
                                    </div><!--End Comment-->
                                </div><!--End col -->
                            </div><!-- End row -->
                            <div class="row">
                                <div class="col-6">
                                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                                        @keyup.enter="addItem()"></textarea>
                                    <button v-on:click="addItem()" class='primaryContained float-right'
                                        type="submit">Add Comment</button>
                                </div><!-- End col -->
                            </div><!--End Row -->
                        </div><!--End Container -->
                    </section><!-- end App -->

                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {

            $(".primaryContained").on('click', function () {
                $(".comment").addClass("commentClicked");
            });//end click
            $("textarea").on('keyup.enter', function () {
                $(".comment").addClass("commentClicked");
            });//end keyup
        });//End Function


    </script>



</body>

</html>