body {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: myFirstFont;
    src: url(/src/main/frontend/font/PK\ Uttaradit-Medium.ttf);
}  

header {
    background-color: #ffffff;
    border: solid 2px rgb(130, 132, 136);
    margin-top: -1px;

}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/* header*/


.profile_bt{
    border-radius: 50%;
}


.search_bt{
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}



.logo {
    font-size: 24px;
    font-weight: bold;
}

.Picture_01 {
    width: 150px;
    height: 100px;
    margin-left: -2cm;
}


.left-section {
    display: flex;
    align-items: center;
}


.search-bar {
    margin-left: 10cm;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}




.right-section {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    position: relative;
    padding: 20px;
}

.profile-dropdown button {
    padding: 10px 20px;
    background-color: #ffa12f;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.profile-menu {
    display: none;
    position: absolute;
    background-color: #ffa12f;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

.profile-menu li {
    margin: 0;
}

.profile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.profile-menu a:hover {
    background-color: #555;
}


.profile-dropdown:hover .profile-menu {
    display: block;
}

/*header*/






/*footer*/


.footer {
    background-color: #FF9967; 
    color: #fff;  
    padding: 20px; 


}

.Picture_02 {
    width: 150px;
    height: 100px;
}

/*footer*/












.container {
    padding: 1rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.grid_layer {
    margin-bottom: 3rem;
    margin-left: 9.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Adjust the number of columns for smaller screens */
    grid-template-areas:
        'container-box-food container-box-food container-box-desert container-box-desert container-box-drink container-box-drink'
        'logo2 About_me About_me Hel_p Follo_w Follo_w';
    ;
}

.container-box-food,
.container-box-desert,
.container-box-drink {
    height: 150px;
    width: 300px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* Make boxes full width on smaller screens */
    background-size: cover;
    border-radius: 20px;
}

.container-box-food:hover,
.container-box-desert:hover,
.container-box-drink:hover {
    box-shadow: 0 1rem 3rem -0.75rem #FF9967;
    /* Change the box-shadow color to red on hover */
    transition: box-shadow 0.3s;
    /* Add a smooth transition effect */
}

/* Adjust styles for screens narrower than 768px */
@media (max-width: 768px) {
    .grid_layer {
        grid-template-columns: repeat(6, 1fr);
        /* Adjust the number of columns for smaller screens */
        grid-template-areas:
            'container-box-food container-box-food container-box-desert container-box-desert container-box-drink container-box-drink'
            'logo2 About_me About_me Hel_p Follo_w Follo_w';
        ;
    }

    .container-box-food,
    .container-box-desert,
    .container-box-drink {
        margin: 1rem;
        /* Add some margin for better spacing on smaller screens */
    }
}

.container-box-food {
    background-image: url(https://images.unsplash.com/photo-1432139509613-5c4255815697?auto=format&fit=crop&q=80&w=1885&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: container-box-food;
}

.container-box-desert {
    background-image: url(https://images.unsplash.com/photo-1499636136210-6f4ee915583e?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: container-box-desert;
}

.container-box-drink {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: container-box-drink;
}

h1 {
    margin-left: 8rem;
    font-size: 25px;
}

.logo2{
    grid-area: logo2;
}

.About_me{
    grid-area: About_me;
}

.Hel_p{
    grid-area: Hel_p;
}

.Follo_w{
    grid-area: Follo_w;
}