body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(/src/main/frontend/font/PK\ Uttaradit-Medium.ttf);
}

header {
    background-color: #dd0000;
    color: #e50000;
    padding: 0px 100px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-style: solid;

}


.logo {
    font-size: 24px;
    font-weight: bold;
}

.Picture_01 {
    width: 150px;
    height: 100px;
    margin-left: -2cm;
}


.left-section {
    display: flex;
    align-items: center;
}


.search-bar {
    margin-left: 10cm;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
}


.right-section {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    position: relative;
    margin-left: 20px;
}

.profile-dropdown button {
    padding: 5px 10px;
    background-color: #ffa12f;
    color: #fff;
    border: none;
    border-radius: 40px;
}

.profile-menu {
    display: none;
    position: absolute;
    background-color: #ffa12f;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

.profile-menu li {
    margin: 0;
}

.profile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.profile-menu a:hover {
    background-color: #555;
}


.profile-dropdown:hover .profile-menu {
    display: block;
}

.container {
    padding: 1rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.grid {
    margin-bottom: 3rem;

    display: grid;
    margin: 1rem 0rem 2rem 2rem;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1rem;
    /* Adjust the number of columns for smaller screens */
    grid-template-areas:
        'menutag menutag menutag menutag menutag menutag'
        'container-box-food container-box-food container-box-desert container-box-desert container-box-drink container-box-drink'
        'rating_tag rating_tag rating_tag rating_tag rating_tag rating_tag'
        'rating-box1 rating-box2 rating-box3 rating-box4 rating-box5 rating-box6';


}

.container-box-food,
.container-box-desert,
.container-box-drink {
    height: 150px;
    width: 300px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* Make boxes full width on smaller screens */
    background-size: cover;
    border-radius: 10px;
}

.rating-box1,
.rating-box2,
.rating-box3,
.rating-box4,
.rating-box5,
.rating-box6 {
    height: 100px;
    width: 200px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    /* Make boxes full width on smaller screens */
    background-size: cover;
    border-radius: 20px;
}

.container-box-food:hover,
.container-box-desert:hover,
.container-box-drink:hover,
.rating-box1:hover,
.rating-box2:hover,
.rating-box3:hover,
.rating-box4:hover,
.rating-box5:hover,
.rating-box6:hover {
    box-shadow: 0 1rem 3rem -0.75rem #FF9967;
    /* Change the box-shadow color to red on hover */
    transition: box-shadow 0.3s;
    /* Add a smooth transition effect */
}

/* Adjust styles for screens narrower than 768px */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
        /* Adjust the number of columns for smaller screens */
        grid-template-areas:
            'menutag menutag menutag menutag menutag menutag'
            'container-box-food container-box-food container-box-desert container-box-desert container-box-drink container-box-drink'
            'rating_tag rating_tag rating_tag rating_tag rating_tag rating_tag'
            'rating-box1 rating-box2 rating-box3 rating-box4 rating-box5 rating-box6';

    }

    .container-box-food,
    .container-box-desert,
    .container-box-drink {
        margin: 1rem;
        /* Add some margin for better spacing on smaller screens */
    }
}

.container-box-food {
    background-image: url(https://images.unsplash.com/photo-1432139509613-5c4255815697?auto=format&fit=crop&q=80&w=1885&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: container-box-food;
}

.container-box-desert {
    background-image: url(https://images.unsplash.com/photo-1499636136210-6f4ee915583e?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: container-box-desert;
}

.container-box-drink {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: container-box-drink;
}

.menutag {
    grid-area: menutag;
    font-size: 25px;

}

.rating_tag {
    grid-area: rating_tag;
    font-size: 25px;
    margin-top: 1rem;
}

.rating-box1 {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: rating-box1;
}

.rating-box2 {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: rating-box2;
}

.rating-box3 {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: rating-box3;
}

.rating-box4 {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: rating-box4;
}

.rating-box5 {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: rating-box5;
}

.rating-box6 {
    background-image: url(https://images.unsplash.com/photo-1499638673689-79a0b5115d87?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area: rating-box6;
}

/*grid-template-areas:
        'container-box-food container-box-food container-box-desert container-box-desert container-box-drink container-box-drink';