<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>Athid</title>
</head>

<body>
    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="img-box">
        </div>
        <div class="flex">
            <h1 class="item">ก๋วยเตี๋ยวพระอาทิตย์ หน้ามหาวิทยาลัย</h1>
            <p>ก๋วยเตี๋ยวพระอาทิตย์ หน้ามหาวิทยาลัย</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>    
            <p>จันทร์ - ศุกร์ 10.00am.-8.00pm.</p> <br>
            <p>ปิด: เสาร์-อาทิตย์</p>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/น้ำเงี้ยวหมู (ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>น้ำเงี้ยวหมู</h6>
                    <h6>45</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เกาเหลาหมู(ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class="content">
                    <h6>เกาเหลาหมู</h6>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เกาเหลาเนื้อ(ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เกาเหลาเนื้อ</h6>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เตี๋ยวเรือหมูจัมโบ้(ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เตี๋ยวเรือหมูจัมโบ้</h6>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เตี๋ยวเรือหมูธรรมดา (ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เตี๋ยวเรือหมูธรรมดา</h6>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เตี๋ยวเรือหมูพิเศษ (ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เตี๋ยวเรือหมูพิเศษ</h6>
                    <h6>65</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เตี๋ยวเรือเนื้อจัมโบ้(ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เตี๋ยวเรือเนื้อจัมโบ้</h6>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เตี๋ยวเรือเนื้อธรรมดา (ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เตี๋ยวเรือเนื้อธรรมดา</h6>
                    <h6>55</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP/food/athid/เตี๋ยวเรือเนื้อพิเศษ(ก๋วยเตี๋ยวพระอาทิตย์).jpg">
                <div class=" content">
                    <h6>เตี๋ยวเรือเนื้อพิเศษ</h6>
                    <h6>65</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>