<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/viewmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/7650f3fb07.js" crossorigin="anonymous"></script>

    <title>Imm jung - อิ่ม จัง</title>
</head>

<body>
    <header>
        <img class="header_logo" src="/src/main/resources/static/css/img/1.png">
        <form class="searchform">
            <input type="text_01" placeholder="ค้นหา">
            <button type="submit_01"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
        </form>
        <div class="pofil_en">
            <button class="pofil_e"><i class="fa-regular fa-user" style="color: #b0b4ba;"></i> login</button>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-chevron-down" style="color: #979797;"></i></button>
            <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="img-box">
        </div>
        <div class="flex">
            <h1 class="item">Imm jung - อิ่ม จัง หน้ามหาวิทยาลัย</h1>
            <p>Imm jung - อิ่ม จัง หน้ามหาวิทยาลัย</p>
            <p><span class="star">4.0 <i class='bx bx-star'></i></span></i> 3 รีวิว ฿ <span>ร้านเปิดอยู่</span></p>
            <br>
            <h2 class="item2">เวลาร้านเปิด</h2>    
            <p>จันทร์ - เสาร์ 11.00am.-8.00pm.<br>
            <p>เบอร์ : 0916989866 </p>
        </div>
    </section>


    <section class="container2">
        <h3>เมนู/ราคา</h3>
        <div class="gallery">
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/COOL Fresh Noodles(imm jung).jpg">
                <div class=" content">
                    <h7>เส้นสดเย็น</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/Fresh Noodle Tom Yum(imm jung).jpg">
                <div class="content">
                    <h7>เส้นสดต้มยำ</h7>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/Fresh Noodles Green Curry(imm jung).jpg">
                <div class=" content">
                    <h8>เส้นสดแกงเขียวหวาน</h8>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/Fresh Noodles Khow Soi Curry(imm jung).jpg">
                <div class=" content">
                    <h8>เส้นสดข้าวซอย</h8>
                    <h6>80</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/Fresh Noodles Original(imm jung).jpg">
                <div class=" content">
                    <h7>เส้นสดต้นตำหรับ</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/Fried Chicken Ma-La _Jim Jeaw(imm jung).jpg">
                <div class=" content">
                    <h7>ไก่ทอดหม่าล่าน้ำจิ้มแจ่ว</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/Fried Pork Ma-La _ Jim Jeaw(imm jung).jpg">
                <div class=" content">
                    <h7>ข้าวหมูทอดหม่าล่าจิ้มแจ่ว</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/ข้าวหน้าเนื้อ.jpg">
                <div class=" content">
                    <h7>ข้าวหน้าหมูซอสเผ็ด</h7>
                    <h6>75</h6>
                </div>
            </div>
            <div class="box">
                <img src="/src/main/resources/menuP//food/imm jung/hhh.jpg">
                <div class=" content">
                    <h7>ข้าวหน้าไก่น้ำจิ้มแจ่ว</h7>
                    <h6>75</h6>
                </div>
            </div>
        </div>

    </section>
    <br>
</body>

</html>